@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e3ddc2;
  --foreground: #0f1611;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1611;
    --foreground: #e3ddc2;
  }
}

.border-foreground {
  border-color: var(--foreground);
}

.border-background {
  border-color: var(--background);
}

.fill-foreground {
  fill: var(--foreground);
}

.text-link {
  color: #0a742a;
}

@media (prefers-color-scheme: dark) {
  .text-link {
    color: #dec867;
  }
}


.text-link:hover {
  opacity: 0.7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
